<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <form method="post" action="/login">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" id="age" name="age">
    </div>
    <div>
      <label for="name">Medical History</label>
      <input type="text" id="medical_history" name="medical_history">
    </div>
    <div>
      <label for="username">Result</label>
      <input type="text" id="result" name="result">
    </div>
    
    <button type="submit">Send</button>
  </form>
</body>

</html>